include *.txt
include *.rst
include pytest.ini
include maintainer/testdata-manifest.toml
include .github/scripts/check_test_report.py
include .github/scripts/check_installed_wheel.py
include scripts/generate_testdata_manifest.py
include scripts/verify_testdata.py
recursive-include tests *
global-exclude __pycache__ *.py[cod]
